html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card:hover {
    border-color: darkgray;
}
.card:hover .card_buttons {
    visibility: visible;
}
.card_buttons {
    visibility: hidden;
}